/* Increase width of site nav to accomodate longer page titles */
.site-header {
 width: 300px;
 max-width: 300px;
}

.site-nav {
 width: 300px;
 max-width: 300px;
}

.nav-list .nav-list-link {
 overflow: hidden;
 text-overflow: ellipsis;
}

/* Truncate long page titles in breadcrumb */
.breadcrumb-nav ol {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.breadcrumb-nav li {
  display: inline-flex;
  min-width: 0;
}

.breadcrumb-nav a {
  display: inline-block;
  max-width: 115px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
