title: Subnautica Modding Guide
description: A beginners guide to modding Subnautica and Subnautica Below Zero!
remote_theme: just-the-docs/just-the-docs@v0.3.3
theme: just-the-docs
color_scheme: dark
url: ""
plugins:
  - jekyll-default-layout
aux_links:
  Subnautica Modding Discord: https://discord.gg/UpWuWwq

github_username:  mroshaw

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
